.wrapper {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img { 
        width: 100%;
        height: 500px;
        object-fit: cover;   
    
    }

    .inner { 
        width: var(--default-layout-width);
        // background-color: orange;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .inner-first { 
            display: flex;
            // margin: 50px 0;
            position: relative;

            .title,
            .brand { 
                font-size: 3rem;
                text-transform: uppercase;
                padding: 0 12px;
            }

            .brand {
                color: #7f7f7f; 
            }
        }

        .inner-middle { 
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 40px 0;  
            
            .middle-left { 
                flex: 2;

                img { 
                    width: 100%;
                    object-fit: cover;
                    height: 500px;
                    border-radius: 2rem;
                }
            }

            .middle-right { 
                flex: 2;
               
                margin-left: 50px;
                .desc { 
                    margin-top: 40px;
                    text-align: justify;

                    .bold { 
                        font-weight: 700;
                    }
                }

                .sub { 
                    margin: 50px 0;
                    text-align: center;
                    font-size: 3rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}
// IPAD
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .wrapper{
        width: 100%;
        text-align: center;  
        background-color: aqua;
        flex-direction: column-reverse;
    }  
   .inner{
    width: 100%;
    background-color: red;
    text-align: center;
   }
}