.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // margin-top: 20px;
    // background-color: #e5fffabc;
    .icon-right {
        position: absolute;
        top: 50%;
        right: 40px;
        font-size: 4rem;
        color: red;
        cursor: pointer;
        // background-color: var(--primary-button);
    }

    .icon-left {
        position: absolute;
        top: 50%;
        left: 40px;
        font-size: 4rem;
        color: red;
        cursor: pointer;
        // background-color: var(--primary-button);
    }
    .indicators { 
        margin-top: -60px;
        display: flex;
    }
    .btn-radio {
        margin: 5px;
        // margin-top: -50px;
    }

}

.inner {
    width: var(--default-layout-width);
    margin: 100px 200px;
    .inner-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        h1 {
            flex: 2;
            text-transform: capitalize;
        }
        p {
            margin-top: 20px;
            flex: 3;
            color: gray;
            strong {
                font-size: 3rem;
                text-transform: uppercase;
                color: #050505;
                font-weight: 600;
            }
        }
    }

    .inner-bottom {
        // width: 33.333%;
        display: flex;
        // width: 100%;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 20px;
        overflow: hidden;
        transition: transform 0.3s;
    }
}
