.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrapper-title {
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
}

.wrapper-title span {
    color: #0052d7;
    font-style: italic;
    font-weight: 600;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &:active {
        opacity: 0.8;
    }
}

.form-field {
    width: var(--default-layout-width);
}

.form-field-total {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 20px;
}
.form-field p {
    font-size: 1.2rem;
}
.form-field span {
    color: #18a0fb;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.form-field .btn-pay {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: rgba(0, 79, 169, 0.789);
    color: var(--white-color);
    font-size: 1.8rem;

    &:hover,
    &:active {
        cursor: pointer;
        opacity: 0.9;
    }
}
.form-field-1 {
    width: 85%;
    border-right: 1px rgb(169, 169, 169) solid;
    padding-right: 40px;
}
.twice {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.twice-1 {
    padding-right: 5px;
}
.form-input {
    width: 100%;
    height: 38px;
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 0 24px;
    margin-top: 20px;
    transition: 0.25s ease;

    &:focus {
        border-color: #3873f1;
    }
}

.form-input__login {
    width: 100%;
    height: var(--button-height);
    margin-top: 20px;
    border-radius: 20px;
    background-color: #000;
    color: var(--white-color);

    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: 0.8;
        transition: 0.25s ease-in;
    }
}
.form-input__login--google {
    width: 100%;
    height: var(--button-height);
    margin-top: 20px;
    border-radius: 20px;
    background-color: #e4e4e4;
    color: var(--text-color);

    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: 0.9;
        transition: 0.25s ease-in;
    }
}

.form-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-sub p {
    color: #18a0fb;
    font-style: italic;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
    }

    &:active {
        opacity: 0.7;
    }
}
.method {
    margin-top: 20px;
    // height: 1000px;
    // background-color: #cccc;
}
.method-cod {
    width: 100%;
    padding: 10px 24px;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid #eee;
    display: flex;
    cursor: pointer;
    &:hover {
        border-color: #243c4b;
    }

  
}

.method-cod-radio:hover {
    cursor: pointer;
    // flex: 1;
}
.method-cod__name {
    margin-left: 20px;
}
.form-field-2 {
    width: 178%;
    margin-left: -20%;
}
.name {
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}
.form-field-total {
    display: grid;
    grid-template-columns: auto auto auto;
}
.form-field-total-1 {
    margin-right: -100px;
}
.form-field-total-1 img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.form-field-total-2 {
    height: 150px;
    margin-left: -10px;
    width: 180px;
}
.form-field-total-2-1 p {
    font-weight: 900;
    font-size: 13px;
}
.form-field-total-2-2 {
    padding-bottom: 20px;
}
.form-field-total-2-31 {
    display: grid;
    grid-template-columns: auto auto;
}
.form-field-total-2-31 select {
    text-align: center;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px rgba(0, 0, 0, 0.986) solid;
}
.form-field-total-2-select {
    margin-right: 30px;
}
.form-field-total-2-4 {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    button {
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background-color: #f1f1f1;
    }
}
.form-field-total-3 {
    width: 100px;
}
.form-field-total-3-1 {
    float: right;
}
.form-field-total-3-1 button {
    background-color: white;
    height: 25px;
    width: 25px;
}
.form-field-total-3-2 {
    font-size: 15px;
    margin-right: -25px;
    margin-top: 85px;
    float: right;
}
.form-field-total-3-3 {
    float: right;
    color: rgb(172, 172, 172);
    font-size: 14px;
}
.hr-end {
    width: 81%;
}
.form-disc {
    width: 65%;
    height: 38px;
    border: 1px solid #797979;
    border-radius: 30px;
    padding: 0 24px;
    margin-top: 20px;
    transition: 0.25s ease;
    margin-right: 10px;

    &:focus {
        border-color: #3873f1;
    }
}
.form-button {
    width: 15%;
    height: 38px;
    border-radius: 20px;
}
.form-field-pay {
    background-color: #ffffff;
    width: 81%;
    display: grid;
    grid-template-columns: 87% 13%;
    color: #363636;
    font-weight: 400;
}
.form-field-pay ul {
    padding: 5px 0px;
    list-style: none;
}
.form-field-pay-right ul li {
    float: right;
}
.form-field-pay-left-2 {
    padding: 10px 0px;
}
.form-field-pay-left-2-2 {
    font-size: 18px;
    font-weight: 600;
}
