.wrapper__total {
    background-color: rgb(233, 242, 255, 0.5);
    height: 1100px;
    margin-top: 80px;
}

.wrapper {
    width: 100%;
    height: calc(var(--default-layout-header-height) + 700px);
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // margin-top: 40px;
    // margin-bottom: 100px;
}
h1 {
    padding-top: 40px;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.title {
    display: inline-block;
}
.inner {
    display: grid;
    width: var(--default-layout-width);
    height: 100%;
    // background-color: #e9f2ff;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 24px;
    align-items: center;
    // margin-bottom: 50px;
}

.inner__item {
    height: 400px;
    width: 200px;
    // background-color: aqua;
    margin: 40px 0;
    position: relative;
    &:hover {
        .sub-title {
            z-index: 2;
            // margin: 0 auto;
        }
    }
}

.inner__item-img {
    width: calc(100% + 170px);
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    &:link,
    &:visited {
        transition: all 0.2s;
        padding: 15px 40px;
    }

    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;

        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 100px;
        transition: all 0.4s;
    }

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &:after {
        background-color: #fff;
    }
}

.sub-title {
    width: calc(100% + 170px);
    height: 100%;
    background-color: #eeeeee50;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40%;
        font-size: 48px;
        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
        &:active {
            opacity: 0.8;
        }
    }

    // top: 0;
}

.inner__item-content {
    width: calc(100% + 170px);
    height: 100px;
    // background-color: #ccc;
    p {
        // background-color: red;
        word-wrap: break-word;
    }
    // background-color: red;
}

.inner__item-content-title-link {
    font-weight: 400;
}

.inner__item-content-title {
    // font-style: italic;
    font-weight: 600;
}

.inner__item-content-inner {
    display: flex;
    justify-content: space-between;
}

.inner__item-content-price {
    color: var(--text-color);
    user-select: none;
}

.inner__item-content-buy {
    // font-weight: 400;
    color: #aaa;
    user-select: none;
}

// Responsive
@media screen and (max-width: 1025px) {
    .wrapper {
        width: 1024px;
    }
    .inner {
        width: 950px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        gap: 20px;
    }

    .inner__item-img {
        width: 300px;
        gap: 20px;
    }

    .inner__item-content {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .inner__item-content-title {
        width: 300px;
        font-size: 1.4rem;
    }

    .inner__item-content-inner {
        display: flex;
        width: 300px;
        // background-color: red;
    }
    .inner__item-content-price,
    .inner__item-content-buy {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 769px) {
    .wrapper {
        width: 767px;
    }
    .inner {
        width: 750px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        gap: 20px;
    }

    .inner__item {
        width: 200px;
    }

    .inner__item-img {
        width: 200px;
        gap: 20px;
    }

    .inner__item-content {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .inner__item-content-title {
        width: 300px;
        font-size: 1.4rem;
    }

    .inner__item-content-inner {
        display: flex;
        width: 300px;
        // background-color: red;
    }
    .inner__item-content-price,
    .inner__item-content-buy {
        font-size: 1.3rem;
    }
}
